extends layouts/LayoutTheme
include mixins/common/PartnershipCorroboration
include mixins/home/landing/HeroHeader
include mixins/home/landing/Brands
include mixins/home/landing/Partnership
include mixins/home/landing/Corroboration
//- include mixins/home/landing/Features
//- include mixins/home/landing/ProductTeam
//- include mixins/home/landing/Projects
//- include mixins/home/landing/Team
//- include mixins/home/landing/Testimonial
//- include mixins/home/landing/Blog
//- include mixins/home/landing/Contact
//- include mixins/home/landing/Cta
//- include mixins/home/landing/Footer


append variables
  - var currentPage = 'index'

prepend scripts
  
append content
  +HeroHeader
  +Brands
  +Partnership
  +Corroboration
  //- +Features
  //- +ProductTeam
  //- +Projects
  //- +Team
  //- +Testimonials
  //- +Blog
  //- +Contact
  //- +Cta
  //- +Footer