extends layouts/LayoutTheme
include mixins/common/InfoText
include mixins/home/landing/HeroHeader
include mixins/home/landing/Brand
include mixins/home/landing/Services
include mixins/home/landing/Features
include mixins/home/landing/CreativeTeam
include mixins/home/landing/Projects
include mixins/home/landing/Team
include mixins/home/landing/Testimonial
include mixins/home/landing/Blog
include mixins/home/landing/Contact
include mixins/home/landing/Cta
include mixins/home/landing/Footer


append variables
  - var currentPage = 'index'

prepend scripts
  
append content
  +HeroHeader
  +Brands
  +Services
  +Features
  +CreativeTeam
  +Projects
  +Team
  +Testimonials
  +Blog
  +Contact
  +Cta
  +Footer