mixin Contact 
  +Section#contact.py-0
    .row 
      .col-lg-7.col-xxl-5.mx-auto.text-center.mt-5
        h5.fw-bold.fs-3.fs-lg-5.lh-sm.mb-5 Contact Us

  section.py-5.mb-8
    +Background({image: `${CWD}assets/img/illustrations/contact-us-bg.png`, attrs: { style: { 'background-position': 'left bottom', 'background-size': 'auto',} }, className: '' })
    +Background({image: `${CWD}assets/img/gallery/contact-bg.png`, attrs: { style: { 'background-position': 'center right ', 'background-size': 'contain'} }, className: '' })
    .container
      .row.flex-center
        .col-lg-5.mb-5
          .card.card-bg.p-2
            .card-body
              form
                .row.mb-3.input-group-icon
                  label.col-sm-2.col-form-label.visually-hidden(for='inputName') Name
                  .col-sm-12
                    input.form-control.rounded-pill.border-white.input-box#inputName(type='text' placeholder="Write your name")
                    svg.bi.bi-person-fill.input-box-icon(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16')
                      path(d='M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z')
                .row.mb-3.input-group-icon
                  label.col-sm-2.col-form-label.visually-hidden(for='inputEmail3') Email
                  .col-sm-12
                    input.form-control.rounded-pill.border-white.input-box#inputEmail3(type='email' placeholder="Write your email")    
                    svg.bi.bi-envelope-fill.input-box-icon(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16')
                      path(d='M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z')
                .row.mb-3.input-group-text-icon
                  label.col-sm-2.col-form-label.visually-hidden(for='floatingTextarea2') Comments
                  .col-sm-12
                    textarea.form-control.rounded-3.border-white.input-box#floatingTextarea2(placeholder='Write your message' style='height: 150px')
                    svg.bi.bi-pencil-fill.input-box-text-icon(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16')
                      path(d='M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z')
                .row 
                  .col-sm-12  
                    .d-grid 
                      button.btn.hover-top.btn-glow.btn-klean.rounded-pill(type="submit") Submit 
        .col-lg-5.offset-lg-1
          .d-flex.align-items-center.mb-5
            .icon.icon-primary
              span(data-feather='phone')
            .flex-1.ms-3
              p.fw-bold.mb-0 Phone 
              p +880124332334
          .d-flex.align-items-center.mb-5
            .icon.icon-primary
              span(data-feather='mail')
            .flex-1.ms-3
              p.fw-bold.mb-0 Email
              p something@email.com 
          .d-flex.align-items-center
            .icon.icon-primary
              span(data-feather='map-pin')
            .flex-1.ms-3
              p.fw-bold.mb-0 Location
              p 43/A Spooner Street,
                br
                |St laurence, Virginia, 
                br  
                |Texas