mixin Cta 
  section
    +Background({ image: `${CWD}assets/img/illustrations/cta-bg.png`, attrs: { style: { 'background-position': 'center', 'background-size': 'cover',} }, className: '' })
    +Background({image: `${CWD}assets/img/illustrations/cta-bg-1.png`, attrs: { style: { 'background-position': 'right top', 'background-size': 'auto','margin-top':'-38px','margin-left':'-200px'} }, className: '' })
    .container
      .row.flex-center.circle-blend.circle-blend-right.circle-pink
        .col-xxl-9.py-5.text-center
          h1.fw-bold.mb-4.text-gradient.fs-6 Exclusively by ThemeWagon
          p.mb-6.mx-xxl-11 Klean is an elegant HTML5 template and a perfect starting point for your next SaaS oriented site, carefully curated by
            span.fw-bold ThemeWagon  
          a.btn.hover-top.btn-glow.btn-klean.rounded-pill(href='#')
            | Download Free
