mixin Dedicated
  +Section
    .row.align-items-center
      .col-md-6.order-md-1
        img.img-fluid.mb-3(src=`${CWD}assets/img/gallery/dedicated.png`  alt='...')
      .col-md-6
        +InfoText({
          title:'Dedicated to redefine<br> the cutting edge.',
          details:'Bruce Wayne, eccentric billionaire. It was a dog. It was a big dog. Bats frighten me. Its time my enemies shared my dread. No guns, no killing. Its ends here. It was a dog. It was a big dog.',
          text:' Klean is an elegant HTML5 template and a perfect starting point for your next SaaS oriented site, carefully curated by <span class="fw-bold">ThemeWagon</span>',
          buttonText:'Read More'
        })
    