mixin FooterList(...items)
  each item in items
    li.mb-3
      a.text-400.text-decoration-none(href='#!')
        =item

mixin Footer
  section.py-0#contact
    //- +Background({ image: `${CWD}assets/img/illustrations/footer-bg.png`, attrs: { style: { 'background-position': 'center', 'background-size': 'cover'} }, className: '' })
    .container
      .row.justify-content-lg-between
        .col-6.col-sm-4.col-lg-auto.mb-3
          h5.text-600.mb-3.fw-bold About
          ul.list-unstyled.mb-md-4.mb-lg-0
            +FooterList('About Us','Team','Careers','Contact')

        .col-6.col-sm-4.col-lg-auto.mb-3
          h5.text-600.mb-3.fw-bold Resources 
          ul.list-unstyled.mb-md-4.mb-lg-0
            +FooterList('Features','How it works','Pricing','Login')
        .col-6.col-sm-4.col-lg-auto.mb-3
          h5.text-600.mb-3.fw-bold Team
          ul.list-unstyled.mb-md-4.mb-lg-0
            +FooterList('Privacy','Terms','Security')
        .col-6.col-sm-4.col-lg-auto.mb-3
          h5.text-600.mb-3.fw-bold Blog
          ul.list-unstyled.mb-md-4.mb-lg-0
            +FooterList('Privacy','Terms','Security')    
        .col-12.col-lg-auto.mb-3
          //- .card.bg-success
          //-   .card-body.p-sm-4
          //-     h5.text-white Blog Zou
          //-     p.mb-0.text-white write email to us
          //-       span.text-white.fs--1.fs-sm-1 info@zoufarm.com
          //-     button.btn.btn-light.text-success(type='button') 
          //-       svg.bi.bi-person.me-1(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='#76C279' viewBox='0 0 16 16')
          //-         path(d='M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z')
          //-       | Sing In
      hr.text-300.mb-0 
      .row.flex-center.py-3
        .col-12.col-sm-8.col-md-6.text-center.text-md-start 
          
      
        .col-12.col-sm-8.col-md-6
           p.fs--1.text-dark.my-2.text-center.text-md-end &copy; This template is made with&nbsp;
            svg.bi.bi-suit-heart-fill(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='#76C279' viewBox='0 0 16 16')
              path(d='M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z')

            |&nbsp;by&nbsp;
            a(href='https://themewagon.com/' target='_blank').text-dark ThemeWagon 
   
        