mixin HeroHeader
  section#home
    .container
      .row.align-items-center.g-2
        .col-md-5.col-lg-6.order-1.text-end
          img(src=`${CWD}assets/img/gallery/hero-header.gif`   alt='hero-header').w-100
        .col-md-7.col-lg-6.py-6.text-sm-start.text-center
          h6.fs-0.text-uppercase.fw-bold.text-600 Top Business App
          h1.fw-bold.fs-4.fs-lg-6.fs-xxl-7.text-primary  The plaform for
            br
            | better cooperation
          p.mb-5.fs-1.fw-medium Crafted with care &amp; creativity. Brings together 
            br.d-none.d-xl-block 
            |everthing in one place.
          a.btn.hover-top.btn-collab(href='#!')
            i.fas.fa-download.me-2
            |  DOWNLOAD
          a.btn.hover-top.btn-collab-outline.text-gradient.ms-2(href='#!') 
            i.fas.fa-play.text-danger.me-2
            |  CHECK DEMO
            