mixin HeroHeader
  section#home
    +Background({ image: `${CWD}assets/img/illustrations/hero.png`, attrs: { style: { 'background-position': 'right bottom',} }, className: 'd-none d-md-block bg-size' })
    +Background({image: `${CWD}assets/img/illustrations/heroheader-bg.png`, attrs: { style: { 'background-position': 'center', 'background-size': 'contain',} }, className: '' })
    .container
      .row.align-items-center
        .col-md-7.col-lg-6.py-6.text-sm-start.text-center
          h1.fw-bold.display-4.fs-4.fs-lg-6.fs-xxl-7.text-gradient  Bootstrap 5 theme
          h1.text-700 crafted by 
            span.fw-bold ThemeWagon
          p.mb-5.fs-0 ThemeWagon offers an wide array of category-oriented 
            br.d-none.d-lg-block 
            |Free and Premium  Bootstrap HTML Templates and Themes.
          a.btn.hover-top.btn-glow.btn-klean(href='#')
            | Check Demo
            