mixin ProductTeam
  +Section
    .row.align-items-center
      .col-md-6
        img.img-fluid.mb-3(src=`${CWD}assets/img/gallery/product-team.png`   alt='...').box-shadow-klean
      .col-md-6
          +InfoText({
            title:'A product team which <br> creates amazing UI/UX',
            details:'I cant do that as Bruce Wayne... as a man.Im flesh and blood. I can be ignored, destroyed. But as a symbol, I can be incorruptible, I can be everlasting.',
            text:' Klean is an elegant HTML5 template and a perfect starting point for your next SaaS oriented site, carefully curated by <span class="fw-bold">ThemeWagon</span>',
            buttonText:'Read More'
          })
      