append variables
  -
    var teams= [
      {
        image:'john.png',
        name  :'John Adams',
        designation:'Ceo',
      },
      {
        image:'carrey.png',
        name  :'University Admissions',
        designation:'Senior Developer',
      },
      {
        image:'ray.png',
        name  :'Visa COnsultancy',
        designation:'Developer',
      },
      {
        image:'austin.png',
        name  :'Visa Consultancy',
        designation:'Designer',
      },
      
    ];


mixin TeamMember(config) 
  .col-3.text-center
    img(src=`${CWD}assets/img/gallery/${config.image}` width='240' alt='...')
    h5.fw-bold.mt-3.mb-1=config.name
    p=config.designation

mixin Team
  +Section
    .row.justify-content-center.mb-6
      .col-lg-6.text-center.mx-auto.mb-3.mb-md-5.mt-4
        h5.fw-bold.fs-3.fs-lg-5.lh-sm.mb-3 Our Team
        p.mb-0 Klean is an elegant HTML5 template and a perfect starting point for your next SaaS oriented site, carefully curated by 
          span.fw-bold ThemeWagon
      .col-9
        .row.flex-center.g-0
          each item in teams
            +TeamMember(item)