mixin NavbarKlean
  nav.navbar.navbar-expand-lg.navbar-light.fixed-top.py-3.d-block.navbar-klean(data-navbar-on-scroll)
    .container
      a.navbar-brand(href='index.html') 
        img(src=`${CWD}assets/img/gallery/logo.png` alt='').me-3.d-inline-block
      button.navbar-toggler.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse.border-top.border-lg-0.mt-4.mt-lg-0
        ul.navbar-nav.me-auto.pt-2.pt-lg-0.font-base
          li.nav-item.px-2(data-anchor)
            a.nav-link.fw-medium(aria-current='page', href='#home' class= currentPage === 'index' ? 'active' : false ) Home
          li.nav-item.px-2(data-anchor)
            a.nav-link(href='#service') Service
          li.nav-item.px-2(data-anchor)
            a.nav-link(href='#feature') Features
          li.nav-item.px-2(data-anchor)
            a.nav-link(href='#testimonial') Testimonial
          li.nav-item.px-2(data-anchor)
            a.nav-link(href='#contact') Contact
        form.ps-lg-5
          button.btn.btn-link.text-primary.fw-bold.order-1.order-lg-0(type='button') Sign in
          button.btn.btn-light.shadow-klean.order-0(type='submit')
            span.text-gradient.fw-bold Sign Up
