/*-----------------------------------------------
|   Object fit and Z-index
-----------------------------------------------*/
.fit-cover{ object-fit: cover; }
.z-index-1{ z-index: 1; }
.z-index-2{ z-index: 2 !important; }
.z-index--1{ z-index: -1; }

/*-----------------------------------------------
|   Sidebar
-----------------------------------------------*/
.sticky-sidebar{ 
  position: sticky;
  z-index: $zindex-sticky;
  top: $top-nav-height + 1; 
}

/*-----------------------------------------------
|   Custom circle
-----------------------------------------------*/
.circle-dashed{
  border: 1px dashed $primary;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
}

/*-----------------------------------------------
|   Miscellaneous
-----------------------------------------------*/

.hover-text-decoration-none{
  @include hover-focus{
    text-decoration: none;
  }
}
.resize-none{ resize: none; }

.collapsed .collapse-icon {
  transition: $transition-base;
  transform: rotate(0deg);
}
.collapse-icon {
  transition: $transition-base;
  transform: rotate(90deg);
}

[data-dismiss="dropdown"],
[data-offset-top],
[data-toggle="collapse"],
[data-toggle="tooltip"],
[data-toggle="popover"]{
  *{
    pointer-events: none;
  }
}

/*-----------------------------------------------
|   Outline
-----------------------------------------------*/

.outline-none {
  outline: none;
  box-shadow: none;
  @include hover-focus {
    outline: none;
    box-shadow: none;
  }
}

/*-----------------------------------------------
|   Vertical Line (used in kanban header)
-----------------------------------------------*/
.vertical-line {
  &:after {
    position: absolute;
    content: "";
    height: 75%;
    width: 1px;
    background: $gray-300;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  &.vertical-line-400 {
    &:after {
      background-color: $gray-400;
    }
  }
}

/* -------------------------------------------------------------------------- */
/*                                 Transition                                 */
/* -------------------------------------------------------------------------- */

.transition-base {
  transition: $transition-base;
}
.transition-none{
  transition: none;
}

.fsp-75{
  font-size: 75%;
}

/* -------------------------------------------------------------------------- */
/*                                    Width                                   */
/* -------------------------------------------------------------------------- */

.min-w-0{ min-width: 0; }

/* -------------------------------------------------------------------------- */
/*                                Terms sidebar                               */
/* -------------------------------------------------------------------------- */

.terms-sidebar {
  .nav-link {
    color: $gray-500;
    font-weight: $font-weight-medium;
    font-family: $font-family-sans-serif;
    &.active {
      color: $primary
    }
  }
}




// navbars

.border-navbar-gradient{ 
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.890625) 10.94%, #FFFFFF 86.46%, rgba(255, 255, 255, 0) 100%);
  backdrop-filter: blur(60px);
}

.backdrop{
  backdrop-filter: blur(10px);
}

.circle-blend {
  position: relative;
  &::before {
    position: absolute;
    content: '';
    height: 0;
    width: 0;
    border-radius: 50%;
    z-index: -1 !important;
    top: 0;
    left: 0;
    transform: translate3d(-50%, -50%, 0);
  }
}

.circle-blend-right {
  &::before {
    left: auto;
    right: 0;
  }
}
.circle-blend-left {
  &::before {
    right: auto;
    left: 0;
  }
}

.circle-danger {
  &:before {
    box-shadow: 0 0 200px 60px $danger;
  }
}

.circle-warning {
  &:before {
    box-shadow: 120px 0 780px 65px $warning;
  }
}

.circle-cyan {
  &:before {
    box-shadow: 150px 250px 800px 60px $cyan;
  }
}
.circle-primary {
  &:before {
    box-shadow: 0 0 300px 100px $primary;
  }
}


// .circle-warning {
//   &:before {
//     box-shadow: 0 0 0 60px $warning;
//   }
// }

.circle {
  position: relative;
  &::before {
    position: absolute;
    content: '';
    height: 200px;
    width: 200px;
    border-radius: 50%;
    z-index: -1 !important;
    top: 0;
    left: 0;
    transform: translate3d(-50%, -50%, 0);
    background-image: linear-gradient(200deg, rgba(86 , 151, 250 ,0), #4e92f94a);
  }
}