.shadow-transition {
  box-shadow:  0 25px 45px rgba($gray-900, .075);
  transition: box-shadow 0.4s ease;
}

.circle-blend {
  position: relative;
  &::before {
    position: absolute;
    content: '';
    height: 0;
    width: 0;
    z-index: -1 !important;
    top: 0;
    left: 0;
    transform: translate3d(-50%, -50%, 0);
  }
}

.circle-blend-right {
  &::before {
    left: auto;
    right: 0;
  }
}
.circle-blend-left {
  &::before {
    right: auto;
    left: 0;
  }
}

.circle-danger {
  &:before {
    box-shadow: 0 0 200px 60px $danger;
  }
}

.circle-warning {
  &:before {
    box-shadow: 120px 0 780px 65px $warning;
  }
}

.circle-cyan {
  &:before {
    box-shadow: 150px 250px 800px 50px $cyan;
  }
}
.circle-primary {
  &:before {
    box-shadow: 0 0 300px 100px $primary;
  }
}
.circle-pink {
  &:before {
    box-shadow: 0 250px 800px 75px $pink;
  }
}


.circle {
  position: relative;
  &::before {
    position: absolute;
    content: '';
    height: 200px;
    width: 200px;
    border-radius: 50%;
    z-index: -1 !important;
    top: 0;
    left: 0;
    transform: translate3d(-50%, -50%, 0);
    background-image: linear-gradient(200deg, rgba(86 , 151, 250 ,0), #4e92f94a);
  }
}


@include media-breakpoint-up(sm) {
  .square {
    position: relative;
    display: inline-block;
    &::before {
      position: absolute;
      content: '';
      height: 400px;
      width: 400px;
      border-radius: 55px;
      z-index: -1 !important;
      background-image: linear-gradient(200deg, rgba(78, 146, 249, 0.342),rgba(225, 160, 247, 0.274));
    }
  }
  
  .shadow-square-bottom {
    &::before {
      top: 80px;
      left: 80px;
    }
  }
  .shadow-square-top {
    &::before {
      top: -80px;
      left: -80px;
    }
  }
  
}



.square-rounded {
  position: relative;
  display: inline-block;
  &::before {
    position: absolute;
    content: '';
    z-index: -1 !important;
  }
}

.shadow-square-right{
  &::before {
    height: 300px;
    width: 200px;
    top: 6px;
    left: 20px;
    border-radius: 25px 50px 25px 50px;
    background-image: linear-gradient(200deg, rgba(78, 146, 249, 0.034),rgba(78, 146, 249, 0.642));
    
  }
}
.shadow-square-left {
  &::before {
    height: 300px;
    width: 200px;
    top: 6px;
    left: 20px;
    border-radius: 25px 25px 50px 25px;
    background-image: linear-gradient(200deg, rgba(225, 160, 247, 0),rgba(225, 160, 247, 0.377));
  }
}

.shadow-square-left-bottom {
  &::before {
    height: 350px;
    width: 350px;
    top: 50px;
    right: 60px;
    border-radius: 80px 80px 80px 140px;
    background-image: linear-gradient(200deg, rgba(78, 146, 249, 0.034),rgba(78, 146, 249, 0.642));
  }
}

.feature-square {
  position: relative;
  &::before {
    position: absolute;
    content: '';
    height: 100px;
    width: 100px;
    border-radius: 25px;
    z-index: -1 !important;
    top: 0;
    left: 0;
    transform: translate3d(26%, 8%, 0);
    background-image: linear-gradient(200deg, rgba(78, 146, 249, 0.342),rgba(225, 160, 247, 0.274));
  }
}

.shadow-klean{
  box-shadow: 0px 7px 20px rgba(49, 69, 255, 0.13);
}


// Shadow feature icons

.icon-wrapper {
  position: relative;
  display: inline-block;
  &::before {
    position: absolute;
    content: '';
    height: 50px;
    width: 50px;
    border-radius: 15px;
    z-index: -1 !important;
    top: 6px;
    left: 20px;
  }
}


.shadow-danger {
  &:before {
    background-image: linear-gradient(200deg, rgba(235,100,83, 0.134), rgba(235, 100, 83, 0.134));
  }
}

.shadow-primary {
  &:before {
    background-image: linear-gradient(200deg, rgba(78, 146, 249, 0.134), rgba(78, 146, 249, 0.134));
  }
}
.shadow-warning {
  &:before {
    background-image: linear-gradient(200deg, rgba(239, 171, 24, 0.134), rgba(239, 171, 24, 0.134));
  }
}
.shadow-success {
  &:before {
    background-image: linear-gradient(200deg, rgba(150, 209, 33, 0.134), rgba(150, 209, 33, 0.134));
  }
}

.shadow-secondary {
  &:before {
    background-image: linear-gradient(200deg, rgba(196, 109, 227, 0.134), rgba(196, 109, 227, 0.134));
  }
}

.shadow-info {
  &:before {
    background-image: linear-gradient(200deg, rgba(33, 212, 223, 0.134), rgba(33, 212, 223, 0.134));
  }
}